$background-color: #222;
$font-color: #eee;
$link-color: #3eb42a; 

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import 'ictusrye/style';
