html {
  font-size: 16px;
}

body {
  background-color: $background-color;
  color: $font-color;
}

a {
  color: $link-color;
}

.bg-inverse{
  background-color: $background-color !important;
}

.jumbotron {
  background-color: lighten($background-color, 5%);
  border: 1px solid;
  border-color: lighten($background-color, 15%);
  border-radius: 4px;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header-hr {
  background: $font-color;
  background-image: linear-gradient(to right, $background-color,
									lighten($background-color, 20%),
									$background-color);
  border: 0;
  height: 1px;
  margin-top: 0;
}

.header-main {
  margin: auto;
  padding-bottom: .5rem;
}

.navbar {
  min-height: 4rem;
}

.nav-link {
  color: $font-color !important;
  font-size: 1.25rem;
}

.nav-link:hover {
  color: darken($font-color, 15%) !important;
  text-decoration: none;
}

.site-title {
  color: $font-color;
  font-size: 4rem;
  text-align: center;
}

.site-title:hover {
  color: darken($font-color, 20%);
}

.site-title-link:hover {
  text-decoration: none;
}

.site-logo {
	display: block;
	margin: auto;
	max-width: 100%;
}

.listing-title {
  margin-bottom: .25rem;
}

.listing-link {
  color: $font-color;
  margin-bottom: .25rem;
  text-decoration: none;
}

.listing-link:hover {
  color: darken($font-color, 20%);
  text-decoration: none;
}

.listing-hr {
  background: $font-color;
  background-image: linear-gradient(to right, $background-color,
									lighten($background-color, 5%),
									$background-color);
  border: 0;
  height: 1px;
  margin-top: 0;
}

.meta {
  margin-bottom: .25rem;
}

.page-link {
  color: $font-color;
  background-color: lighten($background-color, 5%);
  border-color: lighten($background-color, 15%);
}

.page-link:focus, .page-link:hover {
  color: $font-color;
  background-color: lighten($background-color, 15%);
  border-color: lighten($background-color, 15%);
}

.page-item.disabled .page-link {
  color: darken($font-color, 25%);
  pointer-events: none;
  cursor: not-allowed;
  background-color: lighten($background-color, 5%);
  border-color: lighten($background-color, 15%);
}

.pagination {
  margin-top: 1rem;
}
